<!-- prettier-ignore -->
{% extends 'base.html' %}
{% load static %}
{% block additional_css %}
<link href="{% static 'home/css/faq.css' %}" rel="stylesheet" />
{% endblock %}

<!-- prettier-ignore -->
{% block title %}
FAQ
{% endblock %}

<!-- prettier-ignore -->
{% block body %}
<div class="text-white p-5">
  <div
    style="
      text-align: center;
      font-size: 55px;
      color: #fff;
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6,
        0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
      font-family: 'Warnes', cursive;
    "
  >
    FAQs
  </div>
  <div>
    <h1 style="font-family: didot; text-shadow: 2px 2px 5px red">
      Getting started on Inscribe
    </h1>
    <h5>I just created an account. What happens next?</h5>
    <a></a>
    <a style="font-family: Lucida Console">glad you made it here!</a>
    <p style="font-family: Lucida Console">
      As you gradually complete your account signup,follow other blogs,like
      posts,customize your profile,go for sentiment anallysis --basically the
      more youuse inscribe,the more of the inscribe is there for you
    </p>
    <a></a>
    <h1 style="font-family: didot; text-shadow: 2px 2px 5px red">
      Making a post
    </h1>
    <a></a>
    <a style="font-family: Lucida Console"
      >Ready to post something? Good!<br />Nothing is quite so invigorating as a
      fresh post</a
    >
    <p style="font-family: Lucida Console">
      at the top of your dashboard,you can click the option of "Write a note".
      There you can add title,description and body of your post.<br />Further
      you can select whether to save it as a draft or post it right away you can
      also select the option of hidden if you wnt a private note.
    </p>
    <a></a>
    <h1 style="font-family: didot; text-shadow: 2px 2px 5px red">
      Resseting your password
    </h1>
    <a></a>
    <p style="font-family: Lucida Console">
      To change the password for your account while you are already logged in,go
      to "profile" then click "Update profile", change your password in the
      password section and click "Update".
    </p>
    <a></a>
    <h1 style="font-family: didot; text-shadow: 2px 2px 5px red">
      discover Posts
    </h1>
    <a></a>
    <p style="font-family: Lucida Console">
      This feature gives you a glimpse of Insribes best posts
    </p>
    <h5 style="font-family: Lucida Console">Who can see my top posts</h5>
    <p style="font-family: Lucida Console">
      Anyone of inscribe can see you top posts when they view your blog(unless
      you have hidden your posts in which case no one except you can see it.
    </p>
    <a></a>
    <h1 style="font-family: didot; text-shadow: 2px 2px 5px red">Playground</h1>
    <a></a>
    <p style="font-family: Lucida Console">
      This is an enticing feature provided in Inscribe witch allows you to
      allows you to analyse your sentiments at the time based on the content you
      write.<br />With the help of artificial intelligence(AI) your notes are
      processed and one out of three result (&#128578; when positive , &#128528;
      when neutral , &#9785; when negative) result will appear. This enables you
      to try out this amazing feature without actually drafting a post.
    </p>
  </div>
</div>
{% endblock %}
