<!-- prettier-ignore -->
{% extends 'base.html' %}
{% load static %}
{% block additional_css %}
<link href="{% static 'home/css/faq.css' %}" rel="stylesheet" />
{% endblock %}

<!-- prettier-ignore -->
{% block title %}
FAQ
{% endblock %}

<!-- prettier-ignore -->
{% block body %}
<div class="text-white p-5">
  <div style="text-align: center; font-size: 50px">FAQs</div>
  <div>
    <h3>Getting started on Inscribe</h3>
    <h5>I just created an account. What happens next?</h5>
    <a></a>
    <a>glad you made it here!</a>
    <p>
      As you gradually complete your account signup,follow other blogs,like
      posts,customize your profile,go for sentiment anallysis --basically the
      more youuse inscribe,the more of the inscribe is there for you
    </p>
    <a></a>
    <h3>Making a post</h3>
    <a></a>
    <a
      >Ready to post something? Good!<br />Nothing is quite so invigorating as a
      fresh post</a
    >
    <p>
      at the top of your dashboard,you can click the option of "Write a note".
      There you can add title,description and body of your post.<br />Further
      you can select whether to save it as a draft or post it right away you can
      also select the option of hidden if you wnt a private note.
    </p>
    <a></a>
    <h3>Resseting your password</h3>
    <a></a>
    <p>
      To change the password for your account while you are already logged in,go
      to "profile" then click "Update profile", change your password in the
      password section and click "Update".
    </p>
    <a></a>
    <h3>discover Posts</h3>
    <a></a>
    <p>This feature gives you a glimpse of Insribes best posts</p>
    <h5>Who can see my top posts</h5>
    <p>
      Anyone of inscribe can see you top posts when they view your blog(unless
      you have hidden your posts in which case no one except you can see it.
    </p>
  </div>
</div>
{% endblock %}
