<!-- prettier-ignore -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
<!-- prettier-ignore -->
{% block title %}
Inscribe | Playground
{% endblock %}

<!-- prettier-ignore -->
{% block additional_css %}
<link href="{% static 'home/css/playground.css' %}" rel="stylesheet" />
<!-- prettier-ignore -->
{% endblock %}

{% block body %}
<div class="container d-flex text-white flex-column h-100">
  <div class="display-5 text-center mt-3 text-info">
    How are you feeling today?
  </div>
  <div class="d-flex mt-3">
    <form
      class="m-auto d-flex w-100"
      id="analysis-form"
      method="GET"
      style="height: 300px"
    >
      <div class="my-auto w-100 row">
        <input
          id="input-statement"
          class="form-control w-50 mx-auto"
          name="query"
          type="text"
          placeholder="Type something..."
        />
        <!-- <input
          type="submit"
          value="Submit"
          class="btn btn-info btn-block mt-4"
        /> -->
      </div>
    </form>
  </div>
  <div class="row w-100">
    <div class="display-6 text-center mb-4">
      <strong class="text-muted">I think you are feeling...</strong>
    </div>
  </div>
  <div class="w-100 h-100 row">
    <div class="col-4">
      <svg
        id="happy-face"
        xmlns="http://www.w3.org/2000/svg"
        class="img-fluid"
        viewBox="0 0 24 24"
      >
        <path
          fill="currentColor"
          d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm5.507 13.941c-1.512 1.195-3.174 1.931-5.506 1.931-2.334 0-3.996-.736-5.508-1.931l-.493.493c1.127 1.72 3.2 3.566 6.001 3.566 2.8 0 4.872-1.846 5.999-3.566l-.493-.493zm-9.007-5.941c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5 1.5-.671 1.5-1.5-.672-1.5-1.5-1.5zm7 0c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5 1.5-.671 1.5-1.5-.672-1.5-1.5-1.5z"
        />
      </svg>
    </div>
    <div class="col-4">
      <svg
        id="neutral-face"
        class="img-fluid"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
      >
        <path
          fill="currentColor"
          d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm4 17h-8v-2h8v2zm-7.5-9c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5 1.5-.671 1.5-1.5-.672-1.5-1.5-1.5zm7 0c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5 1.5-.671 1.5-1.5-.672-1.5-1.5-1.5z"
        />
      </svg>
    </div>
    <div class="col-4">
      <svg
        id="sad-face"
        xmlns="http://www.w3.org/2000/svg"
        class="img-fluid"
        viewBox="0 0 24 24"
      >
        <path
          fill="currentColor"
          d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm.001 14c-2.332 0-4.145 1.636-5.093 2.797l.471.58c1.286-.819 2.732-1.308 4.622-1.308s3.336.489 4.622 1.308l.471-.58c-.948-1.161-2.761-2.797-5.093-2.797zm-3.501-6c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5 1.5-.671 1.5-1.5-.672-1.5-1.5-1.5zm7 0c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5 1.5-.671 1.5-1.5-.672-1.5-1.5-1.5z"
        />
      </svg>
    </div>
  </div>
</div>
{% endblock %}

<!-- prettier-ignore -->
{% block additional_js %}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
  integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
  crossorigin="anonymous"
></script>
<script src="{% static 'home/js/playground.js' %}"></script>
{% endblock %}
