<!-- prettier-ignore -->
{% load static %}

<nav id="sidebar" class="position-fixed top-0 bottom-0">
  <div
    class="d-flex flex-column bg-navbar text-warning h-100"
    id="sidebar-wrapper"
  >
    <a href="{% url 'home:index' %}" class="no-underline">
      <div class="text-center pt-3 text-uppercase text-responsive">
        <div class="text-warning m-2 d-flex flex-column justify-content-around">
          <img
            src="{% static 'images/logo.svg' %}"
            height="60px"
            width="60px"
            class="align-self-center"
            alt="inscribe logo"
          />
          <div
            class="text-warning d-none d-sm-block"
            style="font-family: 'Major Mono Display', monospace"
          >
            Inscribe
          </div>
        </div>
      </div>
    </a>
    <div
      class="list-group text-center mx-auto h-100 d-flex flex-column justify-content-around display-1 text-responsive"
    >
      <div class="d-flex flex-column">
        <a class="no-underline" href="{% url 'home:index' %}">
          <img src="{% static 'icons/home.svg' %}" alt="home-icon" />
          <div class="text-warning d-none d-sm-block">Home</div>
        </a>
      </div>
      {% if user.is_authenticated %}
      <div class="d-flex flex-column">
        <a class="no-underline" href="{% url 'accounts:logout' %}">
          <img src="{% static 'icons/logout.svg' %}" alt="logout-icon" />
          <div class="text-warning d-none d-sm-block">Logout</div>
        </a>
      </div>
      <div class="d-flex flex-column">
        <a class="no-underline" href="{% url 'accounts:profile' %}">
          <img src="{% static 'icons/profile.svg' %}" alt="profile-icon" />
          <div class="text-warning d-none d-sm-block">Profile</div>
        </a>
      </div>
      {% else %}
      <div class="d-flex flex-column">
        <a class="no-underline" href="{% url 'accounts:login' %}">
          <img src="{% static 'icons/login.svg' %}" alt="login-icon" />
          <div class="text-warning d-none d-sm-block">Login</div>
        </a>
      </div>
      <div class="d-flex flex-column">
        <a class="no-underline" href="{% url 'accounts:register' %}">
          <img src="{% static 'icons/register.svg' %}" alt="register-icon" />
          <div class="text-warning d-none d-sm-block">Register</div>
        </a>
      </div>
      {% endif %}
      <div class="d-flex flex-column">
        <a class="no-underline" href="{% url 'home:playground' %}">
          <img src="{% static 'icons/playground.svg' %}" alt="try-me-icon" />
          <div class="text-warning d-none d-sm-block">Playground</div>
        </a>
      </div>
      <div class="d-flex flex-column">
        <a class="no-underline" href="{% url 'home:discover' %}">
          <img src="{% static 'icons/discover.svg' %}" alt="discover-icon" />
          <div class="text-warning d-none d-sm-block">Discover</div>
        </a>
      </div>
      <div class="d-flex flex-column">
        <a class="no-underline" href="{% url 'home:faq' %}">
          <img src="{% static 'icons/faq.svg' %}" alt="faq-icon" />
          <div class="text-warning d-none d-sm-block">FAQ</div>
        </a>
      </div>
    </div>
  </div>
</nav>
