#sizer {
  max-height: 80%;
  max-width: 80%;
}
.markdownx textarea {
  resize: none;
  max-height: 200px;
}
.markdownx-preview {
  max-height: 200px;
  height: 200px;
  padding: 15px;
  overflow: auto;
  background-color: rgb(31, 125, 148);
}
.markdownx-preview a {
  color: rgb(223, 38, 38);
}
.markdownx-preview blockquote {
  margin-left: 8px;
  border-left: 5px solid black;
  padding-left: 3px;
}
