#sidebar {
  overflow-x: hidden;
  width: 0;
  top: 0;
  left: 0;
  transition: 0.3s;
}
#body-wrapper {
  transition: 0.3s;
}
.bg-navbar {
  background-color: rgb(34, 31, 31, 0.6) !important;
}
body {
  background-image: url(/static/images/pattern.svg);
}
.text-responsive {
  font-size: calc(100% + 0.6vw + 0.6vh);
}
.no-underline {
  text-decoration: none !important;
}

.color-dark-blue {
  background-color: black;
  background-image: radial-gradient(
      circle at top right,
      rgba(54, 33, 82, 1),
      transparent
    ),
    radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent);
}
.watermark {
  font-family: "Major Mono Display", monospace;
  position: fixed;
  font-size: 100px;
  opacity: 0.03;
  pointer-events: none;
  color: white;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}
@media (max-width: 600px) {
  .watermark {
    font-size: 30px;
  }
}
.draw-border {
  box-shadow: inset 0 0 0 4px #58afd1;
  color: #58afd1;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}
.draw-border::before, .draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}
.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}
.draw-border:hover {
  color: #ffe593;
}
.draw-border:hover::before, .draw-border:hover::after {
  border-color: #ffe593;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.draw-border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}

.btn-special {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem "Roboto Slab", sans-serif;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
}
.btn-special:focus {
  outline: 2px dotted #55d7dc;
}

