<!-- prettier-ignore -->
{% extends 'base.html' %}
{% load static %}
{% block additional_css %}
<link href="{% static 'home/css/index.css' %}" rel="stylesheet" />
{% endblock %}

<!-- prettier-ignore -->
{% block title %}
Inscribe
{% endblock %}

<!-- prettier-ignore -->
{% block body %}
<div class="text-white container">
  <div class="display-4 text-center text-capitalize mt-4">
    <strong class="text-info">{{ object.title }}</strong>
  </div>
  <div class="display-6 text-right">
    <span class="h3">~</span>
    <em>a detailed sentiment analysis</em>
  </div>
  {% with final_report=object.generate_report %}
  <div class="shadow-sm p-5">
    <div class="mt-2">{{ final_report.plot | safe }}</div>
  </div>
  <div class="shadow-sm p-5">
    <div>
      <div style="font-size: larger">What the columns mean:</div>
      <div>
        <div>
          <u class="text-info">Sentence Token</u>: The index of the sentence in
          the actual blog body
        </div>
        <div>
          <u class="text-info">Polarity</u>: How positive the sentence is. A
          score of <code>+1</code> means very <strong>positive</strong> and
          score of <code>-1</code> means <strong>negative</strong> and
          <code>0</code> means <strong>neutral</strong>.
        </div>
        <div>
          <u class="text-info">Subjectivity</u>: Subjective sentence expresses
          some personal feelings, views, or beliefs. subjective sentence may not
          express any sentiment. For example, "I think that he went home" and "I
          want a camera that can take good photos" are a subjective sentences,
          but does not express any sentiment.
        </div>
      </div>
    </div>
    <div class="mt-2">{{ final_report.report | safe }}</div>
  </div>
  {% endwith %}
</div>
{% endblock %}

<!-- prettier-ignore -->
{% block additional_js %}
<script>
  window.onload = function () {
    const tr = document.querySelectorAll("tr");
    // tr.forEach((e) => e.classList.add("text-center"));
  };
</script>
{% endblock %}
