<!-- prettier-ignore -->
{% extends 'base.html' %}
{% load static %}
{% block additional_css %}
<link href="{% static 'home/css/index.css' %}" rel="stylesheet" />
{% endblock %}

<!-- prettier-ignore -->
{% block title %}
Inscribe
{% endblock %}

<!-- prettier-ignore -->
{% block body %}
<div class="text-white container">
  <div class="p-5">{{ object.generate_report.report | safe }}</div>
</div>
{% endblock %}

<!-- prettier-ignore -->
{% block additional_js %}
<script>
  window.onload = function () {
    const tr = document.querySelectorAll("tr");
    // tr.forEach((e) => e.classList.add("text-center"));
  };
</script>
{% endblock %}
